[gpg]
	program = gpg
[rerere]
	enabled = true
[alias]
  # you need install vim-conflicted
	conflicted = !vim +Conflicted
  # use for resolve conflicted
  accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
  accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
[commit]
	gpgsign = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	ff = only
[url "git@gitlab.com:"]
  insteadOf = https://gitlab.com/ 
[user]
	signingkey = F23991C3500E075BE66B4266DA08484CF547B858
	name = Rahmat Ramadhan Irianto
	email = rahmat.ramadhaniriyanto@gmail.com
